@font-face {
font-family: 'brg-icon';
src: url("../fonts/brg-icon.ttf") format("truetype"),
url("../fonts/brg-icon.eot") format("embedded-opentype"),
url("../fonts/brg-icon.woff") format("woff");
}
.i {
    font-family: 'brg-icon' !important;
    font-size: 18px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.i-Buildingshome-2-fill:before { content: "\ea01"; }
.i-Businessat-line:before { content: "\ea02"; }
.i-Businessinbox-fill:before { content: "\ea03"; }
.i-Businessarchive-drawer-fill:before { content: "\ea04"; }
.i-Businessprinter-fill:before { content: "\ea05"; }
.i-Businessinbox-archive-line:before { content: "\ea06"; }
.i-Businesssend-plane-2-fill:before { content: "\ea07"; }
.i-Businessbookmark-fill:before { content: "\ea08"; }
.i-Businesshonour-fill:before { content: "\ea09"; }
.i-Businesscloud-fill:before { content: "\ea0a"; }
.i-Businessinbox-unarchive-fill:before { content: "\ea0b"; }
.i-Businessarchive-fill:before { content: "\ea0c"; }
.i-Communicationchat-1-fill:before { content: "\ea0d"; }
.i-Communicationchat-smile-3-fill:before { content: "\ea0e"; }
.i-Communicationchat-4-fill:before { content: "\ea0f"; }
.i-Communicationquestion-answer-fill:before { content: "\ea10"; }
.i-Communicationmessage-3-fill:before { content: "\ea11"; }
.i-Communicationchat-3-fill:before { content: "\ea12"; }
.i-Communicationchat-2-fill:before { content: "\ea13"; }
.i-Developmentterminal-fill:before { content: "\ea14"; }
.i-Documentsfolder-fill:before { content: "\ea15"; }
.i-Documentsfolder-3-fill:before { content: "\ea16"; }
.i-Documentsfolder-user-fill:before { content: "\ea17"; }
.i-Documentsfile-4-fill:before { content: "\ea18"; }
.i-Documentsnumbers-fill:before { content: "\ea19"; }
.i-Documentsfolder-add-fill:before { content: "\ea1a"; }
.i-Mapsdirection-fill:before { content: "\ea1b"; }
.i-Mapspushpin-2-fill:before { content: "\ea1c"; }
.i-Mapsrun-fill:before { content: "\ea1d"; }
.i-Mapsrocket-fill:before { content: "\ea1e"; }
.i-Mapsearth-fill:before { content: "\ea1f"; }
.i-Mediastop-mini-fill:before { content: "\ea20"; }
.i-Mediaskip-forward-fill:before { content: "\ea21"; }
.i-Mediaplay-mini-fill:before { content: "\ea22"; }
.i-Mediapause-line:before { content: "\ea23"; }
.i-Mediarewind-mini-fill:before { content: "\ea24"; }
.i-Mediaspeed-mini-fill:before { content: "\ea25"; }
.i-Otherskey-2-fill:before { content: "\ea26"; }
.i-Otherslightbulb-fill:before { content: "\ea27"; }
.i-Systemsmenu-line:before { content: "\ea28"; }
.i-Systemscheck-line:before { content: "\ea29"; }
.i-Systemsheart-add-line:before { content: "\ea2a"; }
.i-Systemsdelete-back-line:before { content: "\ea2b"; }
.i-Systemsarrow-right-down-fill:before { content: "\ea2c"; }
.i-Systemsshield-star-line:before { content: "\ea2d"; }
.i-Systemsarrow-go-back-line:before { content: "\ea2e"; }
.i-Systemsradio-button-line:before { content: "\ea2f"; }
.i-Systemsshare-circle-fill:before { content: "\ea30"; }
.i-Systemsshield-keyhole-line:before { content: "\ea31"; }
.i-Systemsarrow-right-s-line:before { content: "\ea32"; }
.i-Systemseye-off-line:before { content: "\ea33"; }
.i-Systemsarrow-drop-right-line:before { content: "\ea34"; }
.i-Systemsarrow-right-fill:before { content: "\ea35"; }
.i-Systemsfunction-line:before { content: "\ea36"; }
.i-Systemsupload-cloud-fill:before { content: "\ea37"; }
.i-Systemsthumb-up-line:before { content: "\ea38"; }
.i-Systemsadd-box-fill:before { content: "\ea39"; }
.i-Systemsclose-circle-line:before { content: "\ea3a"; }
.i-Systemsdownload-cloud-2-fill:before { content: "\ea3b"; }
.i-Systemscheckbox-multiple-blank-fill:before { content: "\ea3c"; }
.i-Systemseye-line:before { content: "\ea3d"; }
.i-Systemslogout-box-fill:before { content: "\ea3e"; }
.i-Systemsarrow-go-forward-line:before { content: "\ea3f"; }
.i-Systemslock-2-fill:before { content: "\ea40"; }
.i-Systemsstar-line:before { content: "\ea41"; }
.i-Systemsupload-2-fill:before { content: "\ea42"; }
.i-Systemsmenu-3-fill:before { content: "\ea43"; }
.i-Systemsmenu-2-fill:before { content: "\ea44"; }
.i-Systemscheckbox-blank-circle-line:before { content: "\ea45"; }
.i-Systemslogout-circle-r-fill:before { content: "\ea46"; }
.i-Systemsstar-half-s-line:before { content: "\ea47"; }
.i-Systemscheck-double-line:before { content: "\ea48"; }
.i-Systemssettings-fill:before { content: "\ea49"; }
.i-Systemsspam-3-line:before { content: "\ea4a"; }
.i-Systemsspam-2-line:before { content: "\ea4b"; }
.i-Systemsarrow-drop-left-fill:before { content: "\ea4c"; }
.i-Systemsarrow-up-fill:before { content: "\ea4d"; }
.i-Systemsshare-fill:before { content: "\ea4e"; }
.i-Systemserror-warning-fill:before { content: "\ea4f"; }
.i-Systemsadd-fill:before { content: "\ea50"; }
.i-Systemsshield-flash-fill:before { content: "\ea51"; }
.i-Systemsdownload-line:before { content: "\ea52"; }
.i-Systemsupload-fill:before { content: "\ea53"; }
.i-Systemsshare-forward-line:before { content: "\ea54"; }
.i-Systemsmenu-add-line:before { content: "\ea55"; }
.i-Systemscheckbox-blank-fill:before { content: "\ea56"; }
.i-Systemscheckbox-circle-line:before { content: "\ea57"; }
.i-Systemsmenu-5-line:before { content: "\ea58"; }
.i-Systemsmenu-4-line:before { content: "\ea59"; }
.i-Systemslogin-circle-fill:before { content: "\ea5a"; }
.i-Systemszoom-in-fill:before { content: "\ea5b"; }
.i-Systemslock-password-line:before { content: "\ea5c"; }
.i-Systemsmore-line:before { content: "\ea5d"; }
.i-Systemsstar-s-fill:before { content: "\ea5e"; }
.i-Systemsdownload-2-line:before { content: "\ea5f"; }
.i-Systemssearch-eye-fill:before { content: "\ea60"; }
.i-Systemsarrow-down-s-fill:before { content: "\ea61"; }
.i-Systemsshield-cross-line:before { content: "\ea62"; }
.i-Systemsalarm-line:before { content: "\ea63"; }
.i-Systemssettings-6-line:before { content: "\ea64"; }
.i-Systemsdashboard-fill:before { content: "\ea65"; }
.i-Systemsdelete-bin-4-line:before { content: "\ea66"; }
.i-Systemsdelete-bin-5-line:before { content: "\ea67"; }
.i-Systemsarrow-down-circle-line:before { content: "\ea68"; }
.i-Systemseye-close-line:before { content: "\ea69"; }
.i-Systemsrefresh-fill:before { content: "\ea6a"; }
.i-Systemslogin-box-line:before { content: "\ea6b"; }
.i-Systemsarrow-down-fill:before { content: "\ea6c"; }
.i-Systemsupload-cloud-2-fill:before { content: "\ea6d"; }
.i-Systemssearch-line:before { content: "\ea6e"; }
.i-Systemsarrow-drop-right-fill:before { content: "\ea6f"; }
.i-Systemseye-off-fill:before { content: "\ea70"; }
.i-Systemsfunction-fill:before { content: "\ea71"; }
.i-Systemsarrow-left-up-fill:before { content: "\ea72"; }
.i-Systemsarrow-right-line:before { content: "\ea73"; }
.i-Systemsthumb-up-fill:before { content: "\ea74"; }
.i-Systemsupload-cloud-line:before { content: "\ea75"; }
.i-Systemscheckbox-multiple-blank-line:before { content: "\ea76"; }
.i-Systemsdownload-cloud-2-line:before { content: "\ea77"; }
.i-Systemsadd-box-line:before { content: "\ea78"; }
.i-Systemsclose-circle-fill:before { content: "\ea79"; }
.i-Systemslogout-box-line:before { content: "\ea7a"; }
.i-Systemseye-fill:before { content: "\ea7b"; }
.i-Systemsarrow-go-forward-fill:before { content: "\ea7c"; }
.i-Systemsstar-fill:before { content: "\ea7d"; }
.i-Systemslock-2-line:before { content: "\ea7e"; }
.i-Systemssearch-2-fill:before { content: "\ea7f"; }
.i-Systemscheckbox-blank-circle-fill:before { content: "\ea80"; }
.i-Systemsupload-2-line:before { content: "\ea81"; }
.i-Systemsmenu-2-line:before { content: "\ea82"; }
.i-Systemsmenu-3-line:before { content: "\ea83"; }
.i-Systemsshare-box-fill:before { content: "\ea84"; }
.i-Systemsshield-star-fill:before { content: "\ea85"; }
.i-Systemsarrow-right-down-line:before { content: "\ea86"; }
.i-Systemsdelete-back-fill:before { content: "\ea87"; }
.i-Systemsdivide-line:before { content: "\ea88"; }
.i-Systemsarrow-go-back-fill:before { content: "\ea89"; }
.i-Systemscheck-fill:before { content: "\ea8a"; }
.i-Systemsheart-add-fill:before { content: "\ea8b"; }
.i-Systemsdelete-bin-3-line:before { content: "\ea8c"; }
.i-Systemsdelete-bin-2-line:before { content: "\ea8d"; }
.i-Systemsradio-button-fill:before { content: "\ea8e"; }
.i-Systemsarrow-right-s-fill:before { content: "\ea8f"; }
.i-Systemsshield-keyhole-fill:before { content: "\ea90"; }
.i-Systemsshare-circle-line:before { content: "\ea91"; }
.i-Systemsarrow-left-right-fill:before { content: "\ea92"; }
.i-Systemsshield-cross-fill:before { content: "\ea93"; }
.i-Systemsstar-s-line:before { content: "\ea94"; }
.i-Systemsdownload-2-fill:before { content: "\ea95"; }
.i-Systemssearch-eye-line:before { content: "\ea96"; }
.i-Systemsdashboard-line:before { content: "\ea97"; }
.i-Systemsalarm-fill:before { content: "\ea98"; }
.i-Systemstimer-line:before { content: "\ea99"; }
.i-Systemssettings-6-fill:before { content: "\ea9a"; }
.i-Systemstoggle-line:before { content: "\ea9b"; }
.i-Systemslogin-box-fill:before { content: "\ea9c"; }
.i-Systemsrefresh-line:before { content: "\ea9d"; }
.i-Systemsupload-cloud-2-line:before { content: "\ea9e"; }
.i-Systemsarrow-down-line:before { content: "\ea9f"; }
.i-Systemsarrow-down-circle-fill:before { content: "\eaa0"; }
.i-Systemscheck-double-fill:before { content: "\eaa1"; }
.i-Systemsstar-half-s-fill:before { content: "\eaa2"; }
.i-Systemsspam-3-fill:before { content: "\eaa3"; }
.i-Systemssettings-line:before { content: "\eaa4"; }
.i-Systemsarrow-drop-left-line:before { content: "\eaa5"; }
.i-Systemsshare-line:before { content: "\eaa6"; }
.i-Systemsarrow-up-line:before { content: "\eaa7"; }
.i-Systemslogout-circle-r-line:before { content: "\eaa8"; }
.i-Systemsshield-flash-line:before { content: "\eaa9"; }
.i-Systemserror-warning-line:before { content: "\eaaa"; }
.i-Systemsadd-line:before { content: "\eaab"; }
.i-Systemsupload-line:before { content: "\eaac"; }
.i-Systemsshare-forward-fill:before { content: "\eaad"; }
.i-Systemsmenu-add-fill:before { content: "\eaae"; }
.i-Systemscheckbox-blank-line:before { content: "\eaaf"; }
.i-Systemsdownload-fill:before { content: "\eab0"; }
.i-Systemslogin-circle-line:before { content: "\eab1"; }
.i-Systemszoom-in-line:before { content: "\eab2"; }
.i-Systemsmore-fill:before { content: "\eab3"; }
.i-Systemslock-password-fill:before { content: "\eab4"; }
.i-Systemscheckbox-circle-fill:before { content: "\eab5"; }
.i-Systemsmenu-4-fill:before { content: "\eab6"; }
.i-Systemsmenu-5-fill:before { content: "\eab7"; }
.i-Systemsarrow-left-circle-line:before { content: "\eab8"; }
.i-Systemsdownload-cloud-line:before { content: "\eab9"; }
.i-Systemseye-2-fill:before { content: "\eaba"; }
.i-Systemssettings-5-line:before { content: "\eabb"; }
.i-Systemssettings-4-line:before { content: "\eabc"; }
.i-Systemsexternal-link-fill:before { content: "\eabd"; }
.i-Systemsadd-circle-line:before { content: "\eabe"; }
.i-Systemsdelete-bin-7-line:before { content: "\eabf"; }
.i-Systemsdelete-bin-6-line:before { content: "\eac0"; }
.i-Systemstimer-2-fill:before { content: "\eac1"; }
.i-Systemsshare-forward-2-line:before { content: "\eac2"; }
.i-Systemsfilter-line:before { content: "\eac3"; }
.i-Systemsarrow-up-down-line:before { content: "\eac4"; }
.i-Systemsalarm-warning-line:before { content: "\eac5"; }
.i-Systemsshield-user-line:before { content: "\eac6"; }
.i-Systemstime-fill:before { content: "\eac7"; }
.i-Systemszoom-out-fill:before { content: "\eac8"; }
.i-Systemslogout-box-r-fill:before { content: "\eac9"; }
.i-Systemsarrow-right-up-line:before { content: "\eaca"; }
.i-Systemslock-unlock-fill:before { content: "\eacb"; }
.i-Systemsloader-4-line:before { content: "\eacc"; }
.i-Systemsloader-5-line:before { content: "\eacd"; }
.i-Systemsinformation-line:before { content: "\eace"; }
.i-Systemsquestion-fill:before { content: "\eacf"; }
.i-Systemsheart-fill:before { content: "\ead0"; }
.i-Systemsclose-fill:before { content: "\ead1"; }
.i-Systemsarrow-left-s-fill:before { content: "\ead2"; }
.i-Systemsside-bar-line:before { content: "\ead3"; }
.i-Systemsdelete-back-2-line:before { content: "\ead4"; }
.i-Systemsarrow-left-down-fill:before { content: "\ead5"; }
.i-Systemsdelete-bin-fill:before { content: "\ead6"; }
.i-Systemsnotification-badge-fill:before { content: "\ead7"; }
.i-Systemsheart-2-line:before { content: "\ead8"; }
.i-Systemsforbid-fill:before { content: "\ead9"; }
.i-Systemsarrow-right-circle-fill:before { content: "\eada"; }
.i-Systemsarrow-drop-down-fill:before { content: "\eadb"; }
.i-Systemscheckbox-indeterminate-fill:before { content: "\eadc"; }
.i-Systemsloader-2-fill:before { content: "\eadd"; }
.i-Systemsforbid-2-fill:before { content: "\eade"; }
.i-Systemsloader-3-fill:before { content: "\eadf"; }
.i-Systemsindeterminate-circle-fill:before { content: "\eae0"; }
.i-Systemsfilter-3-fill:before { content: "\eae1"; }
.i-Systemsfilter-2-fill:before { content: "\eae2"; }
.i-Systemslogout-circle-line:before { content: "\eae3"; }
.i-Systemsshare-forward-box-fill:before { content: "\eae4"; }
.i-Systemslock-fill:before { content: "\eae5"; }
.i-Systemsfind-replace-line:before { content: "\eae6"; }
.i-Systemscheckbox-multiple-line:before { content: "\eae7"; }
.i-Systemsalert-fill:before { content: "\eae8"; }
.i-Systemsstar-half-fill:before { content: "\eae9"; }
.i-Systemsarrow-up-circle-line:before { content: "\eaea"; }
.i-Systemshistory-fill:before { content: "\eaeb"; }
.i-Systemsspam-line:before { content: "\eaec"; }
.i-Systemsthumb-down-fill:before { content: "\eaed"; }
.i-Systemsarrow-drop-up-fill:before { content: "\eaee"; }
.i-Systemssettings-3-fill:before { content: "\eaef"; }
.i-Systemssettings-2-fill:before { content: "\eaf0"; }
.i-Systemstimer-flash-fill:before { content: "\eaf1"; }
.i-Systemsapps-line:before { content: "\eaf2"; }
.i-Systemsapps-2-fill:before { content: "\eaf3"; }
.i-Systemsmore-2-line:before { content: "\eaf4"; }
.i-Systemslist-settings-fill:before { content: "\eaf5"; }
.i-Systemscheckbox-fill:before { content: "\eaf6"; }
.i-Systemssubtract-fill:before { content: "\eaf7"; }
.i-Systemsarrow-left-fill:before { content: "\eaf8"; }
.i-Systemslogout-box-r-line:before { content: "\eaf9"; }
.i-Systemszoom-out-line:before { content: "\eafa"; }
.i-Systemstime-line:before { content: "\eafb"; }
.i-Systemsshield-user-fill:before { content: "\eafc"; }
.i-Systemsarrow-right-up-fill:before { content: "\eafd"; }
.i-Systemsarrow-up-down-fill:before { content: "\eafe"; }
.i-Systemsalarm-warning-fill:before { content: "\eaff"; }
.i-Systemslock-unlock-line:before { content: "\eb00"; }
.i-Systemsloader-5-fill:before { content: "\eb01"; }
.i-Systemsloader-4-fill:before { content: "\eb02"; }
.i-Systemsinformation-fill:before { content: "\eb03"; }
.i-Systemsside-bar-fill:before { content: "\eb04"; }
.i-Systemsclose-line:before { content: "\eb05"; }
.i-Systemsheart-line:before { content: "\eb06"; }
.i-Systemsquestion-line:before { content: "\eb07"; }
.i-Systemsnotification-badge-line:before { content: "\eb08"; }
.i-Systemsarrow-left-down-line:before { content: "\eb09"; }
.i-Systemsdelete-bin-line:before { content: "\eb0a"; }
.i-Systemsdelete-back-2-fill:before { content: "\eb0b"; }
.i-Systemsdownload-cloud-fill:before { content: "\eb0c"; }
.i-Systemsarrow-up-s-fill:before { content: "\eb0d"; }
.i-Systemseye-2-line:before { content: "\eb0e"; }
.i-Systemsexternal-link-line:before { content: "\eb0f"; }
.i-Systemssettings-4-fill:before { content: "\eb10"; }
.i-Systemssettings-5-fill:before { content: "\eb11"; }
.i-Systemsdelete-bin-6-fill:before { content: "\eb12"; }
.i-Systemsdelete-bin-7-fill:before { content: "\eb13"; }
.i-Systemstimer-2-line:before { content: "\eb14"; }
.i-Systemsadd-circle-fill:before { content: "\eb15"; }
.i-Systemsshare-forward-2-fill:before { content: "\eb16"; }
.i-Systemsfilter-fill:before { content: "\eb17"; }
.i-Systemsthumb-down-line:before { content: "\eb18"; }
.i-Systemsspam-fill:before { content: "\eb19"; }
.i-Systemsarrow-drop-up-line:before { content: "\eb1a"; }
.i-Systemshistory-line:before { content: "\eb1b"; }
.i-Systemsmore-2-fill:before { content: "\eb1c"; }
.i-Systemsapps-2-line:before { content: "\eb1d"; }
.i-Systemsloader-fill:before { content: "\eb1e"; }
.i-Systemssettings-2-line:before { content: "\eb1f"; }
.i-Systemssettings-3-line:before { content: "\eb20"; }
.i-Systemstimer-flash-line:before { content: "\eb21"; }
.i-Systemsapps-fill:before { content: "\eb22"; }
.i-Systemslist-settings-line:before { content: "\eb23"; }
.i-Systemsarrow-left-line:before { content: "\eb24"; }
.i-Systemssubtract-line:before { content: "\eb25"; }
.i-Systemscheckbox-line:before { content: "\eb26"; }
.i-Systemsarrow-right-circle-line:before { content: "\eb27"; }
.i-Systemsarrow-drop-down-line:before { content: "\eb28"; }
.i-Systemscheckbox-indeterminate-line:before { content: "\eb29"; }
.i-Systemsheart-2-fill:before { content: "\eb2a"; }
.i-Systemsforbid-line:before { content: "\eb2b"; }
.i-Systemsloader-3-line:before { content: "\eb2c"; }
.i-Systemsforbid-2-line:before { content: "\eb2d"; }
.i-Systemsloader-2-line:before { content: "\eb2e"; }
.i-Systemsindeterminate-circle-line:before { content: "\eb2f"; }
.i-Systemsshield-line:before { content: "\eb30"; }
.i-Systemslock-line:before { content: "\eb31"; }
.i-Systemsfilter-2-line:before { content: "\eb32"; }
.i-Systemsfilter-3-line:before { content: "\eb33"; }
.i-Systemsshare-forward-box-line:before { content: "\eb34"; }
.i-Systemsarrow-up-circle-fill:before { content: "\eb35"; }
.i-Systemsfind-replace-fill:before { content: "\eb36"; }
.i-Systemsalert-line:before { content: "\eb37"; }
.i-Systemscheckbox-multiple-fill:before { content: "\eb38"; }
.i-Systemsstar-half-line:before { content: "\eb39"; }
.i-Usersopen-arm-line:before { content: "\eb3a"; }
.i-Usersuser-3-line:before { content: "\eb3b"; }
.i-Usersuser-3-fill:before { content: "\eb3c"; }
.i-Usersuser-line:before { content: "\eb3d"; }
.i-Usersuser-6-fill:before { content: "\eb3e"; }
.i-Weatherflashlight-fill:before { content: "\eb3f"; }
.i-Vector:before { content: "\eb40"; }
